@import 'mixins';

.header {
    min-height: 800px;
    background-image: url(../assets/img/header_bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__title {
        h1 {
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 25px;
            margin-top: 3px;
            line-height: 60px;
            width: 532px;
        }

        p {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            padding-left: 10px;
            margin: 0;
            position: relative;
            z-index: 1;
            min-height: 36px;
            
            &::before {
                @include circle;
            }
        }
    }

    .container {
        padding: 200px 0px 362px 0px;
        margin: 0 auto;
    }

    &__hamburger {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 30px;
        padding: 0;
        width: 36px;
        height: 21px;
    }

    &__socials {
        position: fixed;
        top: 226px;
        left: 54px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between ;
        align-items: center;
        width: 20px;
        height: 338px;
        z-index: 3;

        p {
            margin: 0;
            height: 148px;
            width: 20px;
        }

        span {
            display: block;
            width: 148px;
            transform: rotate(-90deg) translate(-43%, -320%);
            line-height: 20px;
            margin-bottom: 0px;
            text-align: center;
            font-weight: 700;
        }

        &-link {
            position: relative;
            width: 20px;
            height: 20px;

            img {
                position: absolute;
                top: -2px;
            }
        }
    }

    &__icons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 90px;
    }

    &__divider {
        background-color: #000000;
        height: 70px;
        width: 2px;
    }
}
