@mixin circle {
    content: '';
    display: block;
    background-color: #FFA501;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    left: 0px;
    position: absolute;
    z-index: -1;
}

@mixin line {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFA501;
    bottom: -3px;
}

