@import 'mixins'; 

.portfolio {
    &__subtitle {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin-bottom: 6px;

        &::before {
            @include circle;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        position: relative;
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin: 0;

        &::after {
            @include line;
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
        }
    }

    &__items {
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, 280px);
        grid-template-areas: 
        "first second third fourth"
        "fifth sixth sixth fourth";
        gap: 5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.09s;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    #first {
        grid-area: first;
    }

    #second {
        grid-area: second;
    }

    #fird {
        grid-area: fird;
    }

    #fourth {
        grid-area: fourth;
    }

    #fifth {
        grid-area: fifth;
    }

    #sixth {
        grid-area: sixth;
    }
}